div.app {
  background-color: #f4f4f4;
  /*background-image: url('/static/images/paw.png');*/
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
}

div.header {
  font-size: 18px;
  font-weight: 500;
  font-family: "Open Sans", "arial, helvetica, sans-serif";
}

.navbar-brand {
  padding-top: 5px;
}
.navbar-brand > img {
  vertical-align: top;
  height: 40px;
}

.nav > a {
  text-decoration: none;
  padding: 10px;
  color: #444;
  vertical-align: middle;
}

.nav > a:hover {
  color: #00a9e5;
}

.navbar-collapse {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-right {
  margin-right: 0;
}
