<!doctype html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <title>{% block title %} Alue {% endblock %}</title>
    <base href="/">

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    {% block header %} {% endblock %}
  </head>
  <body>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

    {% block footerjs %}
    {% endblock %}
  </body>
</html>
