<div class="header">
  <nav class="navbar">
      <div class="collapse navbar-collapse">
        <div class="nav navbar-nav navbar-left">
          <a routerLink="/" class="">Home</a>
          <a [routerLink]='["/home"]' [queryParams]='{category: "dog"}'>Dog</a>
          <a [routerLink]='["/home"]' [queryParams]='{category: "cat"}'>Cat</a>
          <a [routerLink]='["/home"]' [queryParams]='{category: "panda"}'>Panda</a>
        </div>
        <div class="nav navbar-nav navbar-right">
          <a routerLink="/login">Login</a>
          <a routerLink="/register">Sign Up</a>
        </div>
      </div>
  </nav>
</div>
<div class="app">
  <div class="container-fluid">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
