<div class="card post">
  <div class="card-block">
    <div class="card-title">
      <p class="post-title">
        <a href="#{{ post.creator.username }}">
          <img class="avatar" src="{{ post.creator.avatar }}"/>
        </a>
        <span class="title">{{ post.title }}</span>
      </p>
    </div>
  </div>

  <a [routerLink]="['/posts', post.id, post.slug]">
    <img class="img-responsive" src="{{ post.image_url }}" alt="{{ post.title }}"/>
  </a>
  <div class="card-block">
    <a [routerLink]="['/posts', post.id, post.slug]">
      <span class="view"> {{ post.nice_view }}</span>
      <span class=" view glyphicon glyphicon-heart"></span>

    </a>
  </div>

</div>
